.colegios {
  display: inline-block;
  width: 150px;
  height: 10px;
  background: #cc8533;
}

.asociaciones{
  display: inline-block;
  width: 150px;
  height: 10px;
  background: green;
}

.ayuntamientos{
  display: inline-flex;
  width: 150px;
  height: 10px;
  background: black;
}
/*Search bar
*/
.body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
}
.body, .main, .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  position: relative;
  background-color: #fff;
  padding: 10px;
  transition: 0.5s;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0,0,0,.2);
}
.menu {
  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  transition: 1s;
}
.main input:checked ~ .menu {
  width: 800px;
}
.menu li {
  list-style: none;
  margin: 0 24px;
}
.menu li a {
  text-decoration: none;
  color: #666;
  text-transform: uppercase;
  font-weight: 600;
  transition: 1.3s;
}
.menu li a:hover {
  color: #161919;
}
.main input {
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0;
}
.main span {
  position: absolute;
  left: 25px;
  width: 15px;
  height: 4px;
  border-radius: 50px;
  background-color: #666;
  pointer-events: none;
  transition: 0.5s;
}
.main input:checked ~ span {
  background-color: #FF4D50;
}
.main span:nth-child(2) {
  transform: translateY(-8px);
}
.main input:checked ~ span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}
.main span:nth-child(3) {
  transform: translateY(8px);
}
.main input:checked ~ span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}
.main input:checked ~ span:nth-child(4) {
  display: none;
}