.colegios {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #cc8533;
}

.asociaciones{
  display: inline-block;
  width: 10px;
  height: 10px;
  background: green;
}

.ayuntamientos{
  display: inline-block;
  width: 10px;
  height: 10px;
  background: black;
}